parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_array\(\) with array\{eventId\: string, isAvailable\: bool, berths\?\: int\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Application/DTO/Request/UpdateAvailabilityRequest.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 3
			path: src/Application/DTO/Request/UpdateAvailabilityRequest.php

		-
			message: '#^Offset ''isAvailable'' on array\{eventId\: string, isAvailable\: bool, berths\?\: int\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Application/DTO/Request/UpdateAvailabilityRequest.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: src/Application/DTO/Request/UpdateAvailabilityRequest.php

		-
			message: '#^Call to function is_array\(\) with array\{eventId\: string, crewKey\: string\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Application/DTO/Request/FlagAssignedCrewRequest.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: src/Application/DTO/Request/FlagAssignedCrewRequest.php

		-
			message: '#^Call to function is_int\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 2
			path: src/Application/DTO/Util/KeyTransformer.php

		-
			message: '#^Strict comparison using \!\=\= between non\-falsy\-string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Domain/Entity/Crew.php

		-
			message: '#^Offset mixed on array\{\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Domain/Service/AssignmentService.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: src/Domain/Service/AssignmentService.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: src/Infrastructure/Persistence/SQLite/BoatRepository.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: src/Infrastructure/Persistence/SQLite/CrewRepository.php
